<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=0,maximum-scale=1.0,width=device-width">
  <title>[[block 'title']][[/block]] - HSTAR SSO</title>
  <!--<link rel="stylesheet" href="static/semantic-ui/semantic.min.css">-->
  <link rel="stylesheet" href="static/iconfont/iconfont.css">
  <link rel="stylesheet" href="assets/css/all.css">
  <!-- split -->
  [[block 'head']] [[/block]]
</head>

<body>
  <div class="layui-layout">
    <div class="layui-header header sso-header">
      <div class="layui-main">
        <a class="logo" href="/">
          <strong>HSTAR SSO</strong>
        </a>
        <ul class="layui-nav float-right">
          <li class="layui-nav-item">
            <a href="/apps">Manage Apps</a>
          </li>
          <span class="layui-nav-bar"></span>
        </ul>
      </div>
    </div>
  </div>
  [[block 'body']] [[/block]]
  <script src="static/vue/vue.js"></script>
  <script src="static/axios/axios.js"></script>
  <script src="http://localhost:9107/light-reload.js"></script>
  <script>
    lightReload.init(); //对应服务端的端口，不传递默认是9107
  </script>
  [[block 'footer']] [[/block]]
</body>

</html>
