<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=0,maximum-scale=1.0,width=device-width">
  <title>[[block 'title']][[/block]] - HSTAR SSO</title>
  <link rel="stylesheet" href="static/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="assets/css/all.css"> [[block 'head']] [[/block]]
</head>

<body>
  <div class="ui fixed inverted menu sso-header">
    <div class="ui container">
      <a href="" class="header item">
        HSTAR SSO
      </a>
      [[if UnionId]]
      <div class="right menu">
        <a class="item" href="/apps">Manage Apps</a>
      </div>
      [[/if]]
    </div>
  </div>
  [[block 'body']] [[/block]]
  <script src="static/vue/vue.js"></script>
  <script src="http://localhost:9107/light-reload.js"></script>
  <script>
    lightReload.init(); //对应服务端的端口，不传递默认是9107
  </script>
  [[block 'footer']] [[/block]]
</body>

</html>
