.sso-header {
  height: 46px;
}

.main.container {
  margin-top: 7em;
}

.login-header {
  font-size: 20px;
  margin-bottom: 15px;

  >div {
    display: inline-block;
  }

  .register {
    font-size: 14px;
    line-height: 30px;
    float: right;

    a {
      color: #E66700;
    }
  }
}

.sso-other-login {
  font-size: 14px;
  color: #9B9B9B;
  font-weight: normal;
}

.other-login-list {
  width: 100%;
  text-align: center;
}
