.sso-header {
  background: #1B1C1D;
  height: 50px;

  .layui-nav {
    background: #1B1C1D;

    .layui-nav-item {
      line-height: 50px;
    }
  }

  .logo {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    line-height: 50px;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* component styles */
.lv-modal .layui-layer-page {
  min-height: 260px;
}

.lv-modal .layui-layer-content {
  min-height: 158px;
}

.lv-modal .layui-layer-btn.layui-layer-btn- {
  border-top: 1px solid #eee;
}
