.sso-header {
  background: #1B1C1D;
  height: 50px;

  .layui-nav {
    background: #1B1C1D;

    .layui-nav-item {
      line-height: 50px;
    }
  }

  .logo {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    line-height: 50px;
  }
}
