// @import './../../../static/semantic-ui/components/reset.css';
// @import './../../../static/semantic-ui/components/site.css';
// @import './../../../static/semantic-ui/components/container.css';
// @import './../../../static/semantic-ui/components/grid.css';
// @import './../../../static/semantic-ui/components/header.css';
// @import './../../../static/semantic-ui/components/image.css';
// @import './../../../static/semantic-ui/components/menu.css';
// @import './../../../static/semantic-ui/components/divider.css';
// @import './../../../static/semantic-ui/components/list.css';
// @import './../../../static/semantic-ui/components/segment.css';
// @import './../../../static/semantic-ui/components/dropdown.css';
@import './../../../static/semantic-ui/semantic.min.css';
