.signupPage {
  background: linear-gradient(to bottom, #1bdee0, #679cec, #679cec);
  min-height: 100vh;
}
.mainArea {
  padding: 24px;
  padding-top: calc(50vh - 300px);
}
.appname {
  text-align: center;
  margin-bottom: 40px;
}
.signupCard {
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgb(34 36 38 / 15%);
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}
.thirdLogin {
  text-align: center;
}
