[[extend './shared/_layout.html']]
<!-- title -->
[[block 'title']]App Detail[[/block]]

<!-- footer -->
[[block 'footer']]
<script src="assets/js/common.js"></script>
<script src="assets/js/config.js"></script>
<script>
  var serverData = { appId: [[appId]] };

</script>
<script src="assets/js/app-detail.js"></script>
[[/block]]
<!-- body -->
[[block 'body']]
<div class="page-app-detail">
  <div class="container">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
      <ul class="layui-tab-title">
        <li class="layui-this">SSO Application Detail</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <a class="layui-btn layui-btn-normal layui-btn-small float-right" href="/apps">Return SSO App List</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <table class="layui-table app-list-table" lay-even="">
      <colgroup>
        <col width="200">
        <col />
      </colgroup>
      <tbody>
        <tr>
          <td style="width: 200px;"> Application Name: </td>
          <td>{{selectedApp.AppName}}</td>
        </tr>
        <tr>
          <td> Application Description: </td>
          <td>{{selectedApp.AppDescription}}</td>
        </tr>
        <tr>
          <td> Application CallbackUrl: </td>
          <td>{{selectedApp.CallbackUrl}}</td>
        </tr>
        <tr>
          <td> Application Key: </td>
          <td>{{selectedApp.AppKey}}</td>
        </tr>
        <tr>
          <td> Application Secret: </td>
          <td>{{selectedApp.AppSecret}}
            <button class="layui-btn layui-btn-mini layui-btn-danger" @click="refreshSecret">
              Refresh Secret
            </button>
          </td>
        </tr>
        <tr>
          <td> Is Active: </td>
          <td>{{selectedApp.AppStatus}}</td>
        </tr>
        <tr>
          <td> Create Date: </td>
          <td>{{selectedApp.CreateDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
[[/block]]
