[[extend './shared/_layout.html']]
<!-- title -->
[[block 'title']]欢迎您[[/block]]
<!-- body -->
[[block 'body']]
<div class="page-index">
  <div class="user-card">
    <table class="layui-table" lay-even="" lay-skin="row">
      <colgroup>
        <col width="200">
        <col width="200">
      </colgroup>
      <tbody>
        <tr>
          <td colspan="2" class="user-avatar">
            <img title="[[data.UnionId]]" src="[[data.AvatarUrl]]">
          </td>
        </tr>
        <tr>
          <td class="text-right">UserName</td>
          <td>[[data.UserName]]</td>
        </tr>
        <tr>
          <td class="text-right">DisplayName</td>
          <td>[[data.DisplayName]]</td>
        </tr>
        <tr>
          <td class="text-right">Is External User</td>
          <td>[[data.IsExternalUser === 1 ? 'Yes': 'No']]</td>
        </tr>
        <tr>
          <td class="text-right">Email Address</td>
          <td>[[data.EmailAddress]]</td>
        </tr>
        <tr>
          <td class="text-right">Phone Number</td>
          <td>[[data.PhoneNumber]]</td>
        </tr>
        <tr>
          <td class="text-right">Gender</td>
          <td>[[data.Gender]]</td>
        </tr>
        <tr>
          <td class="text-right">Location</td>
          <td>[[data.Location]]</td>
        </tr>
        <tr>
          <td class="text-right">Create Date</td>
          <td>[[data.CreateDate.toLocaleDateString()]]</td>
        </tr>
        <tr>
          <td class="text-right">Last Update Date</td>
          <td>[[data.LastUpdateDate.toLocaleDateString()]]</td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <a class="layui-btn layui-btn-danger" href="/logout">注销登录</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
[[/block]]
