[[extend './shared/_layout.html']]
<!-- title -->
[[block 'title']]用户登录[[/block]] [[block 'header']] [[/block]]
<!-- footer -->
[[block 'footer']]
<script src="assets/js/login.js"></script>
[[/block]]
<!-- body -->
[[block 'body']]
<div class="page-login" v-cloak>
  <div class="login-box">
    <div class="login-header">
      <span>SSO 登录</span>
      <a href="/signup" class="float-right register-link">注册</a>
    </div>
    <form class="layui-form" @submit="doUserLogin">
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="text" name="title" placeholder="请输入账户" size="30" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="text" name="username" placeholder="密码不少于6位" size="30" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <lv-checkbox v-model="rememberMe">记住我</lv-checkbox>
          <!--<a href="/password/new" class="float-right forget-password">忘记密码?</a>-->
        </div>
      </div>
      <div class="layui-form-item">
        <button type="button" class="layui-btn layui-btn-radius btn-login">登录</button>
      </div>
      <div class="layui-form-item">
        <div class="other-login-divider">
          <span class="sso-other-login">其他方式登录</span>
        </div>
      </div>
      <div class="layui-form-item text-center other-login-btns">
        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" title="Github登录" @click="openLoginWindow('/auth/github')">
          <i class="iconfont icon-github"></i>
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" title="微博登录" @click="openLoginWindow('/auth/weibo')">
          <i class="iconfont icon-weibo"></i>
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" title="QQ登录" @click="openLoginWindow('/auth/qq')">
          <i class="iconfont icon-QQ"></i>
        </button>
        <!--<button type="button" class="layui-btn layui-btn-primary layui-btn-radius" title="微信登录" @click="openLoginWindow('/auth/wechat')">
          <i class="iconfont icon-wechat"></i>
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius" title="Google登录" @click="openLoginWindow('/auth/google')">
          <i class="iconfont icon-google"></i>
        </button>-->
      </div>
    </form>
  </div>
</div>
[[/block]]
